<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<body>
<div class="container">
    <form action="sign_in" method="post">
        <input type="text" class="form-control" name="name" placeholder="请输入用户名" id="name_id">
        <input type="password" class="form-control" name="pwd" placeholder="请输入密码" id="pwd">
        <input type="submit" value="点击提交">
    </form>
</div>

<link rel="stylesheet" type="text/css" media="all"
      href="../bootstrap/css/bootstrap.css" />
<script src="../jquery-3.3.1.min.js"></script>
<script src="../bootstrap/js/bootstrap.js"></script>
</body>

</html>