<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/bootstrap.css.bootstrap.css"/>
    <script src="/scripts/jquery-3.3.1.min.js"></script>
    <!-- 突然感觉jQuery好陌生了，之前还学过一段时间的-->
</head>
<!--表单在web应用中也很普遍，并且网上问卷调查普遍应用，是server和client之间数据交户的重要方式-->
<body>
<form action="/form" method="get">
    <!--name属性在后台解析时标识各个属性值-->
    账号：<input type="text" name ="name"><br>
    密码：<input type="password" name ="pass">


</form>
</body>
</html>