<?xml version="1.0" encoding="UTF-8" ?>
<!--mybatis的配置文件，比如mapper文件的地址，这样的话，mapper接口就不需要接口了，实际是不是这样的呢？-->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    -->

</configuration>